---

// Javascript section

---

<h1>
	Astro
</h1>

<h2>
	Anthoney Trejo
</h2>

<h3>
	DEIVBkefgbjnki
</h3>

<style>
	h1 {
		color: pink;
		background-color: seagreen;
		text-align: center;
	}

	h2 {
		color: seagreen;
		background-color: pink;
		text-align: center;
	}
</style>